body {
  padding: 0;
  margin: 0px;
}

/* div { 
  font-size: 4rem;
  line-height: 4rem;
} */

/* p:first-child {
  font-family: "Times New Roman", Georgia, serif;
  font-size: 16px;
}

p:nth-child(2) {
  font-family: Arial, Verdana, sans-serif;
  font-size: 120%;
}

p:last-child {
  font-family: "Lucinda Console", Consolas, monospace;
} */
