div {
  color: blue;
  text-decoration: underline;
}

#test {
  color: red;
}

.content {
  font-family: arial;
  font-weight: normal;
}

div.content {
  font-size: 32px;
}

.content.content2 {
  font-weight: bold;
}